html{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #222;
    color: gray;
    text-align: center;
    font-family: sans-serif;
}
div{
    width: 20vw;
    max-width: 250px;
    height: 75vh;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 0.5rem;
    filter: grayscale(1) opacity(0.1) contrast(200%);
    transition: 0.5s;
    transform: skewY(-10deg);
    z-index: -1;
}